/*  */
.dot-wrapper {
  position: relative;
  z-index: 1;
  cursor: pointer;
}

/* For typewriter effect */
.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  /* margin: 0 auto; */ /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(50, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

/* For transition clips */
.show-challenge {
  width: 100vw;
  height: 100vh;
  background-color: #222;
}

/* experience */
.experience-container {
  position: relative;
}

.experience-container img {
  width: 100vw;
  height: 100vh;
}

.experience-container video {
  /* width: 100vw; */
  height: 100vh;
  z-index: 0;
  max-width: none !important;
}

/* helpers */
.full-size {
  width: 100vw;
  height: 100vh;
}

.absolute {
  position: absolute;
}

/* For centering */
/* Outer div */
.center-div {
  position: absolute;
  top: 50%;
  left: 50%;
}

/* inner */
.center-div .content {
  position: relative;
  left: -50%;
}
/* Centering over */

.absolute {
  position: absolute;
}

.on-image {
  position: absolute;
  top: 30%;
  left: 40%;
}

.center-position {
  position: absolute;
  left: 50%;
  top: 50%;
}

.button-placement button {
  border: solid 4px #d87070;
  cursor: pointer;
}

.step-one {
  position: absolute;
  width: 10%;
  height: 10%;
  top: 5%;
  left: 10%;
}

.center-placement {
  position: absolute;
  top: 45vh;
  left: 45%;
  background-color: black;
  border-radius: 25px;
  padding: 30px;
}

.button-placement-label {
  /* position relative to its ancestor (the circle) */
  position: absolute;

  /* provide some visual styling */
  text-align: center;
  font-weight: 600;
  background-color: #222;
  color: #fff;
  padding: 10px;
  width: 20vw;
  border-radius: 5px;
}

.label-title {
  position: absolute;
  background-color: white;
}

/* OLD */

/* full width img bg */
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) {
  /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px; /* 50% */
  }
}
